API_PROXY_URL=http://localhost:8002

# Firebase web app config
VITE_FIREBASE_API_KEY=AIzaSyAEcu6cAr-m14QZ490EyfSlJEAo8SO9hGU
VITE_FIREBASE_AUTH_DOMAIN=souigat-6be49.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=souigat-6be49
VITE_FIREBASE_STORAGE_BUCKET=souigat-6be49.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=766154518059
VITE_FIREBASE_APP_ID=1:766154518059:web:b49142fd9401c59f24446e
